<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Home</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/berry/">Berry Site</a></li>
            <li><a href="/users/register/">Register</a></li>
            <li><a href="/users/login/">Login</a></li>
            <li><a href="/users/profile/">Profile</a></li>
            {% for page in pages %}
            <li><a href="{% url 'berry:get_page' slug=page.slug %}">{{ page.title }}</a></li>
            {% endfor %}
            <li><a href = "/videos/">Videos</a></li>
        </ul>
    </nav>
        <h2>About This Page</h2>

    <p class="about">
        This page is dedicated to providing users with the experience of 
        an archaeological tour from the comfort of their own home. The primary
        focus is colloquially known as the "Berry Site", which you can learn
        more about by clicking the strawberry at the top of the page.
        You can also click the locked lock to register an account to save your progress,
        or the unlocked lock if you already have an account and would like to log in.
    </p>
</body>
</html>
