<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Archaeology Site Tours</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
</head>

<body>
    <header>
        <h1>Archaeology Site Tours</h1>
        <h2 class="subtitle">North Carolina</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/berry/">Berry Site</a></li>
            {% for page in pages %}
            <li><a href="{% url 'berry:get_page' slug=page.slug %}">{{ page.title }}</a></li>
            {% endfor %}
            <li><a href="/users/register/">Register</a></li>
            <li><a href="/users/login/">Login</a></li>
            <li><a href="/users/profile/">Profile</a></li>
            <li><a href = "/videos/">Videos</a></li>
        </ul>
    </nav>
    <section>
        <article>

            <h2 class="berryT">
                {% block infoTitle %}

                {% endblock %}
            </h2>


            <div class=berryIntro>
                {% block info %}

                {% endblock %}
            </div>
        </article>
        <aside>
            {% block countyMap %}

            {% endblock %}
        </aside>
    </section>

<div class="gallery">
    <button id="prev-btn">Previous</button>
    <div class="scrollable-container">
        {% block image %}

        {% endblock %}


    </div>
    <button id="next-btn">Next</button>
</div>

<script src="{% static 'image.js' %}"></script>

<div class='quizOuter'>
    <div class="blocker">
        <h3>QUIZ</h3>
        <button class="start">Start</button>
    </div>
    {% block quizQs %}

    {% endblock %}
    <div class="blocker">
        <h3>END OF QUIZ</h3>
        score: <span id="updater"></span>
    </div>
</div>
<script src="{% static 'quiz.js' %}">
</script>
<section>
    <article class="artif">
        {% block infoArtifact %}

        {% endblock %}
        {% block artifactPic %}

        {% endblock %}
    </article>
</section>
</body>

</html>
