<!DOCTYPE html>
 {% load static %}
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'index.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Videos</title>
 </head>
 <body>
     <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/berry/">Berry Site</a></li>
            {% for page in pages %}
            <li><a href="{% url 'berry:get_page' slug=page.slug %}">{{ page.title }}</a></li>
            {% endfor %}
            <li><a href="/users/register/">Register</a></li>
            <li><a href="/users/login/">Login</a></li>
            <li><a href="/users/profile/">Profile</a></li>
            <li><a href = "/videos/">Videos</a></li>
        </ul>
     </nav>
 </body>
 {% for video in videos %}
     <h2> {{ video.title }} by {{ video.creator }}</h2>
     <iframe width = '1280' height = '720' src = '{{ video.url }}'></iframe>
     <h3>{{ video.description }}</h3>
 {% endfor %}