{% extends 'layout.html' %}
{% load static %}

{% block infoTitle %}
    {{ page.title }}
{% endblock %}
{% block info %}
<div class="berryIntro">
    {{ page.content|safe }}
</div>
{% endblock %}
<div class="scrollable-container">
{% block image %}
{{ imageUrls|json_script:"image-urls" }}
    
<img src="{{ imageUrls.0 }}">
<script>
    const images = JSON.parse(document.getElementById('image-urls').textContent);
    const siteName = "{{ page.title|escapejs }}"
</script>

{% endblock %}
</div>

{% block countyMap %}
<script>
    window.county = "{{ page.county|default:'Burke'|escapejs}}"
    //console.log("County:", county);
</script>
<script src="{% static 'map.js' %}"></script>
<!-- <p>County: {{ page.county }}</p> -->
{% endblock %}

{% block quizQs %}
{% for question in questions %}
<div class="quizInner">
 <h2>{{ question.question }}</h2>
 {% for answer in question.answers.all %}
    <button class="{% if answer.is_correct %}correct{% else %}incorrect{% endif %}">{{ answer.answer_text }}</button><br>
 {% endfor %}
</div>
{% endfor %}
{% endblock %}
{% block infoArtifact %}
    {% for artifact in artifacts %}
    <div class="artifact">
        <h2>{{ artifact.title }}</h3>
        <p>{{ artifact.description }}</p>
        <img src="{{ artifact.image.url }}" alt="{{ artifact.title }}" width="500px">
    </div>
    {% endfor %}
{% endblock %}

{% block artifactPic %}
    {% for artifact in artifacts %}
    <div class="artifactImg">
        <img src="{{ artifact.image.url }}" alt="{{ artifact.title }}">
    </div>
{% endfor %}

{% endblock %}

