{% extends 'layout.html' %}
{% load static %}

{% block infoTitle %}
{{ page.title }}
{% endblock %}
{% block info %}
<div class="berryIntro">
    {{ page.content|safe }}
</div>
{% endblock %}

{% block image %}
{{ imageUrls|json_script:"image-urls" }}

<div class="scrollable-container">
    <img src="{{ imageUrls.0 }}">
</div>

<script>
    const images = JSON.parse(document.getElementById('image-urls').textContent);
    const siteName = "{{ page.title|escapejs }}"
</script>

{% endblock %}

{% block countyMap %}
<script>
    window.county = "{{ page.county|default:'Burke'|escapejs}}"
    //console.log("County:", county);
</script>
<script src="{% static 'map.js' %}"></script>
<!-- <p>County: {{ page.county }}</p> -->
{% endblock %}