{% extends 'layout.html' %}
{% load static %}

{% block infoTitle %}
THE BERRY SITE
{% endblock %}

{% block info %}
<div class = berryIntro>
<p>Located in Morganton, Burke County, the Berry Site
    is identified as the Native American town of Joara,
    occupied from around AD 1400 through 1600. The people
    of the western Piedmont region of North Carolina lived
    here for 12,000 years. The broad floodplain of the area
    on which the Berry Site sits was also lived on for
    thousands of years, with evidence of pottery and
    projectile points.</p>
    <p>It is also the site for a 16th century Spanish
    colonial outpost. It was established in 1567 by
    Captain Juan Pardo and his army, making it the
     first European settlement in the interior of what
    is now the United States. The Spanish town was
    called Cuenca, and a fort was built known as Fort
    San Juan. This outpost was part of an effort to
    establish a permanent route of colonial outposts
    along However, as the result of rising tensions
    between the Natives of Joara and the Spanish
    explorers, the settlement only lasted until June of
    1568, when it was burned and destroyed.</p>
</div>
{% endblock %}

{% block countyMap %}
<script>
    const county = "{{ page.county|default:'Burke'|escapejs}}"
</script>
<script src="{% static 'map.js' %}"></script>
{% endblock %}


<div class="scrollable-container">
    {% block image %}
    {{ imageUrls|json_script:"image-urls" }}
    <img src="{{ imageUrls.0 }}">

    <script>
        const images = JSON.parse(document.getElementById('image-urls').textContent);
        const siteName = "The Berry Site"
    </script>
    {% endblock %}
</div>


{% block quizQs %}
{% for question in questions %}
<div class="quizInner">
 <h2>{{ question.question }}</h2>
 {% for answer in question.answers.all %}
    <button class="{% if answer.is_correct %}correct{% else %}incorrect{% endif %}">{{ answer.answer_text }}</button><br>
 {% endfor %}
</div>
{% endfor %}
{% endblock %}

{% block infoArtifact %}
    {% for artifact in artifacts %}
    <div class="artifact" style="display: flex; align-items: flex-start; margin: 10px">
        <div class="artifact-text" style="flex: 1; padding-right: 20px;">
        <h2>{{ artifact.title }}</h3>
        <p>{{ artifact.description }}</p>
    </div>
    {% endfor %}
{% endblock %}

{% block artifactPic %}
        {% for artifact in artifacts %}
        <div class="artifactImg">
            <img src="{{ artifact.image.url }}" alt="{{ artifact.title }}" style="max-width: 300px;">
        </div>
        {% endfor %}
{% endblock %}
