<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Profile</title>
</head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/berry/">Berry Site</a></li>
        {% for page in pages %}
        <li><a href="{% url 'berry:get_page' slug=page.slug %}">{{ page.title }}</a></li>
        {% endfor %}
        <li><a href="/users/register/">Register</a></li>
        <li><a href="/users/login/">Login</a></li>
        <li><a href="/users/profile/">Profile</a></li>
        <li><a href = "/videos/">Videos</a></li>
    </ul>
</nav>
<body>
    <div>
        <h2>This is {{user.username}}'s profile</h2>
    </div>
    <h2>Collected Stamps</h2>
    <div>
      {% for userstamp in collected_stamps %}
      <img src="{{ userstamp.stamp.image.url }}" width="60">
     {% endfor %}
    </div>
</body>
</html>
